
/* Title with logo*/

 .title {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid lightBlue;
}



/* clearfix */

.clearfix {
  content: "";
  display: table;
}

.clearfix:before {
  content: "";
  clear: both;
  display: table;
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

/* Anfang body */

.footer_nav{
  display: inline-block;
  font-size: 25px;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 30px;
}

.a__navigation-footer{
  text-decoration: none;
  list-style: none;
  color: darkGrey;
}

.a__navigation-footer:hover{
  color: grey;
 }




