/* Phone */
@media (max-width: 899px) {

.logo{
  display: none;
  float: left;
  width:100px;
  height:100px;
  margin-left: 25px;
  margin-top: 2px;
}

.title-write {
  display: none;
  float: left;
  font-size: 50px;
  color: white;
  margin-top: 14px;
}
.title_nav {
  display: inline-block;
  font-size: 25px;
  margin-left: 25px;
  margin-right: 25px;
  color: white;
  padding-top: 30px;
}

.a__navigation-title {
  text-decoration: none;
  color: darkGrey;
}

.a__navigation-title:hover {
  color: Grey;
  padding-bottom: 29px;
}

.float-right {
  float: right;
}


.spacer {
  width: 100%;
  height: 25px;
}

.news-head{
  margin: 0 auto;
  width:95%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  color: white;
  margin-bottom: 5px;
  display: block;
  padding: 5px;
}

.news-body{
  margin: 0 auto;
  width: 95%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  color: white;
  margin-bottom: 5px;
  padding: 5px;
}

.container_right{
  margin: 0 auto;
  width: 95%;
  margin-bottom: 130px;
  }

.writing-container{
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color:white ;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
 }
}
